        ::-webkit-input-placeholder{
            color:white;
        }

        input{
            font-size: 20px;
            color:white;
            background: rgba(255, 255, 255, 0);
            border: 2px solid rgba(255,255,255,0.5);
            border-radius: 5px;
        }

        input:focus{
			border: 2px solid #fff;
		}

		.button{
			font-size: 16px;
			color: white;
			background-color: #007fff;
			border: none;
			border-radius: 5px;
            padding: 5px 20px;
		}

		.button:hover{
			font-size: 16px;
			color: white;
			background-color: #005fff;
			border: none;
			border-radius: 5px;
		}

		.button:active{
			font-size: 16px;
			color: white;
			background-color: #007fff;
			border: none;
			border-radius: 5px;
		}

        footer{
            width:100%;
            float:top;
            background-color:rgba(0,0,0,0.6);
            text-align: center;         
        }

        footer a{
            color: rgba(255,255,255,0.8);
            text-decoration:none;
        }

		.account{
            display: inline-block;
        }
